/* Display Properties Styleing */
/* .block-element{
    display: block;
    background-color: lightblue;
    margin-right: 10px;
}
.inline-element{
    display: inline;
    background-color: lightgreen;
    margin-right: 10px;
}
.inline-block-element{
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: lightcoral;
    margin-top: 10px;
    margin-right: 10px;
    padding: 10px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.hidden-element{
    display: none;
} */

/* Positioning Styleing */
/* .container{
    height: 2000px;
    padding: 20px;
}
.relative-box{
    position: relative;
    top: 20px;
    left: 30px;
    width: 200px;
    height: 100px;
    background-color: lightyellow;
}
.absolute-box{
    position: absolute;
    top: 10px;
    right: 20px;
    width: 150px;
    height: 80px;
    background-color: lightpink;
}
.fixe-box{
    position: fixed;
    bottom: 10px;
    left: 10px;
    width: 100px;
    height: 50px;
    background-color: lightgreen;
}
.sticky-box{
    position: sticky;
    top: 20px;
    background-color: lightblue;
    padding: 10px;
} */
 /* mini webpage styleing */
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 body{
    font-family: arial, sans-serif;
    line-height: 1.6;
 }
 header{
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
 }
 nav{
    background-color: #f4f4f4;
    padding: 10px 10px;
 }
 nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
 }
 nav ul li{
    margin: 0 15px;
 }
 nav ul li a{
    text-decoration: none;
    color: #333;
    font-weight: bold;
 }
 nav ul li a:hover{
    color: bisque;
    text-decoration: solid;
 }
 main{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
 }
.content, .sidebar{
    background-color: #e2e2e2;
    padding: 15px;
    margin-bottom: 20px;
}
.content{
    flex: 2;
    margin-right: 20px;
}
.sidebar{
    flex: 2;
}
footer{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: sticky;
    bottom: 0;
    width: 100%;
}
/* Responsive Design */
@media (max-width: 768px) {
    nav ul{
        flex-direction: column;
    }
    main{
        flex-direction: column;
    }
    .content, .sidebar{
        margin-right: 0;
    }
}